<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Fis</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../assets/styles/style.css">
  <script src="https://kit.fontawesome.com/b55a362f2a.js" crossorigin="anonymous"></script>
</head>

<body>
  <a href="/" class="goBack">
    <i class="fas fa-chevron-left"></i>
    <div class="hide-text">
      <p>Volver</p>
    </div>
  </a>
  <button id="profile" class="buttonProfile"><img src="../assets/images/user.png"></button>
  <div class="cont">
    <h1 style="font-weight: bold; font-size: 50px">Capítulos</h1>
    <% chapters.forEach(function(chapter){%>
    <% if (chapter.finished) { %>
    <div class="cardsFinished">
      <img style="position: absolute; left: 100px; width: 100%; height: 100%;opacity:0.4;"
        src="../assets/images/guitar.svg">
      <h4><%=chapter.title %></h4>
      <p><%=chapter.description%></p>
      <a class="buttonFinished">
        <h5>Completado</h5>
      </a>
    </div>
    <% } else { %>
    <div class="cards">
      <img style="position: absolute; left: 100px; width: 100%; height: 100%;opacity:0.8;"
        src="../assets/images/guitar.svg">
      <h4><%=chapter.title %></h4>
      <p><%=chapter.description%></p>
      <a href=<%=`/chapters/${chapter._id}`%> class="buttonStart">
        <h5>Comenzar</h5>
      </a>
    </div>
    <% }}) %>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/assets/javascript/student/index.js"></script>

</html>